In [18]:
import numpy as np
import pandas as pd
import datetime as dt

In [19]:
immigration_csv = "Resources/immigration_data_2005_2021.csv"

In [20]:
immigration = pd.read_csv(immigration_csv)
immigration

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,Virginia,Washington,West Virginia,Wisconsin,Wyoming,U.S. Armed Services posts,U.S. possessions,U.S. Dependencies,Guam,Puerto Rico
0,2005,Total,1122373,100.00,4200,1525,18988,2698,232023,11977,...,27100,26482,847,7909,321,128,5868,0,0,0
1,2005,"China, People's Republic",69967,6.23,328,92,543,202,17668,765,...,1327,1508,101,593,28,13,184,0,0,0
2,2005,Dominican Republic,27504,2.45,5,42,22,0,82,6,...,90,18,6,39,0,0,2346,0,0,0
3,2005,India,84681,7.54,431,15,739,215,14724,516,...,2776,1747,133,876,0,0,24,0,0,0
4,2005,Iran,13887,1.24,48,4,285,9,7059,131,...,562,318,18,48,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,2021,Iran,5734,0.77,21,0,86,17,2206,89,...,218,187,9,38,0,0,0,0,0,0
149,2021,Mexico,107230,14.49,323,33,6859,610,31715,3131,...,586,2539,20,949,69,0,0,0,0,39
150,2021,Pakistan,9691,1.31,31,0,59,41,1104,52,...,784,166,17,57,3,0,0,0,0,0
151,2021,Philippines,27511,3.72,152,190,555,129,6478,228,...,648,737,69,236,27,0,0,0,300,9
152,2021,United Kingdom,9229,1.25,48,13,179,59,1651,146,...,237,309,14,72,8,0,0,0,0,0

In [21]:
# Create list of columns to drop
drop_columns = ['U.S. possessions', 'U.S. Dependencies', 'Guam', 'Puerto Rico', 'U.S. Armed Services posts']

# Drop the specified columns and create a new DataFrame
immigration_clean = immigration.drop(columns=drop_columns)

immigration_clean

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2005,Total,1122373,100.00,4200,1525,18988,2698,232023,11977,...,881,8962,95958,5082,1042,27100,26482,847,7909,321
1,2005,"China, People's Republic",69967,6.23,328,92,543,202,17668,765,...,51,637,4139,217,50,1327,1508,101,593,28
2,2005,Dominican Republic,27504,2.45,5,42,22,0,82,6,...,0,22,119,11,0,90,18,6,39,0
3,2005,India,84681,7.54,431,15,739,215,14724,516,...,23,900,7139,147,74,2776,1747,133,876,0
4,2005,Iran,13887,1.24,48,4,285,9,7059,131,...,0,150,1002,135,4,562,318,18,48,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,2021,Iran,5734,0.77,21,0,86,17,2206,89,...,7,62,473,34,0,218,187,9,38,0
149,2021,Mexico,107230,14.49,323,33,6859,610,31715,3131,...,66,809,25282,1374,6,586,2539,20,949,69
150,2021,Pakistan,9691,1.31,31,0,59,41,1104,52,...,0,53,1464,25,0,784,166,17,57,3
151,2021,Philippines,27511,3.72,152,190,555,129,6478,228,...,35,759,1680,154,26,648,737,69,236,27
152,2021,United Kingdom,9229,1.25,48,13,179,59,1651,146,...,0,149,771,63,8,237,309,14,72,8

In [22]:
# Path to the CSV file
census_data = "Resources/census_info.csv"

# Read the CSV file and create a Pandas DataFrame
census_df = pd.read_csv(census_data)

# Print
census_df

,Label (Grouping),US Asian,US Asian MOE,US Indian,US Indian MOE,US Chinese,US Chinese MOE,US Pakistani,US Pakistani MOE,US Hispanic/Latino,...,Washington Pakistani,Washington Pakistani MOE,West Virginia Asian,West Virginia Asian MOE,Wisconsin Asian,Wisconsin Asian MOE,Wisconsin Indian,Wisconsin Indian MOE,Wisconsin Chinese,Wisconsin Chinese MOE
0,Total:,"12,555,171","±20,857","3,033,366","±21,196","3,060,551","±20,111","342,697","±9,268","58,305",...,"5,368","±1,143","9,910",±639,"99,797","±1,712","25,213","±1,717","18,556","±1,224"
1,Entered 2010 or later:,"3,760,281","±19,490","1,210,230","±14,315","947,997","±10,799","112,456","±4,697","9,850",...,"1,984",±561,"3,230",±502,"34,736","±1,705","12,018","±1,250","8,636",±927
2,Native,"102,593","±3,098","14,971","±1,438","19,846","±1,098","5,401",±905,"2,288",...,301,±254,159,±126,879,±254,133,±109,65,±45
3,Foreign born:,"3,657,688","±19,538","1,195,259","±14,361","928,151","±10,685","107,055","±4,441","7,562",...,"1,683",±402,"3,071",±464,"33,857","±1,657","11,885","±1,249","8,571",±925
4,Naturalized U.S. citizen,"527,161","±6,859","107,486","±3,491","103,969","±3,190","28,419","±2,109","1,629",...,327,±156,364,±102,"4,435",±694,771,±191,904,±276
5,Not a U.S. citizen,"3,130,527","±18,581","1,087,773","±13,222","824,182","±10,389","78,636","±3,643","5,933",...,"1,356",±347,"2,707",±457,"29,422","±1,584","11,114","±1,239","7,667",±892
6,Entered 2000 to 2009:,"2,923,239","±16,526","788,188","±10,925","684,716","±9,734","91,233","±3,505","11,485",...,"2,203",±807,"2,336",±308,"23,856","±1,256","6,795",±877,"4,749",±568
7,Native,"89,402","±2,448","11,410","±1,005","20,193","±1,019","5,032",±802,"1,524",...,104,±105,62,±43,749,±211,20,±60,201,±84
8,Foreign born:,"2,833,837","±16,094","776,778","±10,548","664,523","±9,565","86,201","±3,342","9,961",...,"2,099",±766,"2,274",±305,"23,107","±1,255","6,775",±876,"4,548",±562
9,Naturalized U.S. citizen,"1,713,269","±12,809","422,558","±7,048","369,046","±6,813","67,972","±2,901","5,170",...,"1,518",±645,"1,146",±214,"13,592",±938,"2,480",±454,"2,943",±416
10,Not a U.S. citizen,"1,120,568","±12,101","354,220","±7,064","295,477","±6,018","18,229","±1,296","4,791",...,581,±289,"1,128",±242,"9,515",±962,"4,295",±715,"1,605",±318
11,Entered 1990 to 1999:,"2,433,998","±12,416","541,401","±6,827","605,936","±7,183","77,988","±3,385","11,421",...,746,±217,"1,844",±297,"18,150","±1,023","3,444",±524,"3,003",±474
12,Native,"64,052","±2,700","8,288",±850,"12,481",±929,"2,586",±472,"2,145",...,16,±22,35,±38,293,±156,59,±75,14,±18
13,Foreign born:,"2,369,946","±12,207","533,113","±6,608","593,455","±7,037","75,402","±3,363","9,276",...,730,±213,"1,809",±295,"17,857","±1,031","3,385",±522,"2,989",±474
14,Naturalized U.S. citizen,"1,974,837","±11,059","464,859","±6,424","482,811","±5,884","66,521","±3,002","5,919",...,686,±210,"1,414",±261,"15,387",±974,"2,958",±464,"2,592",±459
15,Not a U.S. citizen,"395,109","±5,895","68,254","±2,343","110,644","±3,620","8,881","±1,210","3,357",...,44,±44,395,±176,"2,470",±421,427,±196,397,±149
16,Entered before 1990:,"3,437,653","±13,988","493,547","±5,919","821,902","±8,171","61,020","±2,626","25,549",...,435,±170,"2,500",±313,"23,055",±822,"2,956",±443,"2,168",±374
17,Native,"108,499","±2,740","5,871",±653,"15,417","±1,117","1,080",±244,"4,347",...,0,±30,66,±46,680,±203,64,±48,57,±42
18,Foreign born:,"3,329,154","±14,010","487,676","±5,833","806,485","±8,216","59,940","±2,588","21,202",...,435,±170,"2,434",±311,"22,375",±819,"2,892",±433,"2,111",±382
19,Naturalized U.S. citizen,"3,045,320","±14,243","452,624","±5,627","759,344","±8,103","55,742","±2,324","18,503",...,415,±163,"2,290",±312,"19,719",±740,"2,671",±405,"1,984",±377
20,Not a U.S. citizen,"283,834","±4,785","35,052","±1,764","47,141","±1,975","4,198",±611,"2,699",...,20,±32,144,±70,"2,656",±365,221,±93,127,±71

In [27]:
# Find columns that contain "MOE" in their names
columns_to_drop = [col for col in census_df.columns if 'MOE' in col]

# Drop the columns with "MOE" in their names
df_filtered = census_df.drop(columns=columns_to_drop)

df_filtered

,Label (Grouping),US Asian,US Indian,US Chinese,US Pakistani,US Hispanic/Latino,Alabama Asian,Alabama Indian,Alabama Chinese,AlaskaAsian,...,Virginia Chinese,Virginia Pakistani,Washington Asian,Washington Indian,Washington Chinese,Washington Pakistani,West Virginia Asian,Wisconsin Asian,Wisconsin Indian,Wisconsin Chinese
0,Total:,"12,555,171","3,033,366","3,060,551","342,697","58,305","51,622","10,104","10,900","32,996",...,"55,127","23,342","467,613","99,793","114,571","5,368","9,910","99,797","25,213","18,556"
1,Entered 2010 or later:,"3,760,281","1,210,230","947,997","112,456","9,850","18,335","3,595","4,647","8,864",...,"17,188","7,727","162,463","54,546","46,634","1,984","3,230","34,736","12,018","8,636"
2,Native,"102,593","14,971","19,846","5,401","2,288",607,94,147,556,...,258,185,"4,629",253,587,301,159,879,133,65
3,Foreign born:,"3,657,688","1,195,259","928,151","107,055","7,562","17,728","3,501","4,500","8,308",...,"16,930","7,542","157,834","54,293","46,047","1,683","3,071","33,857","11,885","8,571"
4,Naturalized U.S. citizen,"527,161","107,486","103,969","28,419","1,629","2,610",482,870,"2,055",...,"2,082","1,783","17,705","2,230","3,840",327,364,"4,435",771,904
5,Not a U.S. citizen,"3,130,527","1,087,773","824,182","78,636","5,933","15,118","3,019","3,630","6,253",...,"14,848","5,759","140,129","52,063","42,207","1,356","2,707","29,422","11,114","7,667"
6,Entered 2000 to 2009:,"2,923,239","788,188","684,716","91,233","11,485","12,905","2,479","2,964","8,263",...,"11,525","7,054","100,743","24,935","23,991","2,203","2,336","23,856","6,795","4,749"
7,Native,"89,402","11,410","20,193","5,032","1,524",592,18,420,516,...,218,484,"3,913",152,913,104,62,749,20,201
8,Foreign born:,"2,833,837","776,778","664,523","86,201","9,961","12,313","2,461","2,544","7,747",...,"11,307","6,570","96,830","24,783","23,078","2,099","2,274","23,107","6,775","4,548"
9,Naturalized U.S. citizen,"1,713,269","422,558","369,046","67,972","5,170","7,180","1,290","1,557","4,735",...,"6,603","4,965","55,489","10,889","12,163","1,518","1,146","13,592","2,480","2,943"
10,Not a U.S. citizen,"1,120,568","354,220","295,477","18,229","4,791","5,133","1,171",987,"3,012",...,"4,704","1,605","41,341","13,894","10,915",581,"1,128","9,515","4,295","1,605"
11,Entered 1990 to 1999:,"2,433,998","541,401","605,936","77,988","11,421","9,731","2,001","1,998","6,816",...,"11,896","4,934","84,895","12,170","19,994",746,"1,844","18,150","3,444","3,003"
12,Native,"64,052","8,288","12,481","2,586","2,145",296,28,42,674,...,138,114,"3,131",159,299,16,35,293,59,14
13,Foreign born:,"2,369,946","533,113","593,455","75,402","9,276","9,435","1,973","1,956","6,142",...,"11,758","4,820","81,764","12,011","19,695",730,"1,809","17,857","3,385","2,989"
14,Naturalized U.S. citizen,"1,974,837","464,859","482,811","66,521","5,919","7,253","1,537","1,472","4,492",...,"9,851","4,290","68,625","10,557","17,157",686,"1,414","15,387","2,958","2,592"
15,Not a U.S. citizen,"395,109","68,254","110,644","8,881","3,357","2,182",436,484,"1,650",...,"1,907",530,"13,139","1,454","2,538",44,395,"2,470",427,397
16,Entered before 1990:,"3,437,653","493,547","821,902","61,020","25,549","10,651","2,029","1,291","9,053",...,"14,518","3,627","119,512","8,142","23,952",435,"2,500","23,055","2,956","2,168"
17,Native,"108,499","5,871","15,417","1,080","4,347",444,61,10,698,...,333,43,"5,222",100,502,0,66,680,64,57
18,Foreign born:,"3,329,154","487,676","806,485","59,940","21,202","10,207","1,968","1,281","8,355",...,"14,185","3,584","114,290","8,042","23,450",435,"2,434","22,375","2,892","2,111"
19,Naturalized U.S. citizen,"3,045,320","452,624","759,344","55,742","18,503","9,096","1,842","1,215","7,209",...,"13,531","3,344","103,443","7,270","22,059",415,"2,290","19,719","2,671","1,984"
20,Not a U.S. citizen,"283,834","35,052","47,141","4,198","2,699","1,111",126,66,"1,146",...,654,240,"10,847",772,"1,391",20,144,"2,656",221,127

In [37]:
transposed_df = df_filtered.transpose()
transposed_df

Label (Grouping),Total:,Entered 2010 or later:,Native,Foreign born:,Naturalized U.S. citizen,Not a U.S. citizen,Entered 2000 to 2009:,Native,Foreign born:,Naturalized U.S. citizen,...,Entered 1990 to 1999:,Native,Foreign born:,Naturalized U.S. citizen,Not a U.S. citizen,Entered before 1990:,Native,Foreign born:,Naturalized U.S. citizen,Not a U.S. citizen
US Asian,"12,555,171","3,760,281","102,593","3,657,688","527,161","3,130,527","2,923,239","89,402","2,833,837","1,713,269",...,"2,433,998","64,052","2,369,946","1,974,837","395,109","3,437,653","108,499","3,329,154","3,045,320","283,834"
US Indian,"3,033,366","1,210,230","14,971","1,195,259","107,486","1,087,773","788,188","11,410","776,778","422,558",...,"541,401","8,288","533,113","464,859","68,254","493,547","5,871","487,676","452,624","35,052"
US Chinese,"3,060,551","947,997","19,846","928,151","103,969","824,182","684,716","20,193","664,523","369,046",...,"605,936","12,481","593,455","482,811","110,644","821,902","15,417","806,485","759,344","47,141"
US Pakistani,"342,697","112,456","5,401","107,055","28,419","78,636","91,233","5,032","86,201","67,972",...,"77,988","2,586","75,402","66,521","8,881","61,020","1,080","59,940","55,742","4,198"
US Hispanic/Latino,"58,305","9,850","2,288","7,562","1,629","5,933","11,485","1,524","9,961","5,170",...,"11,421","2,145","9,276","5,919","3,357","25,549","4,347","21,202","18,503","2,699"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Washington Pakistani,"5,368","1,984",301,"1,683",327,"1,356","2,203",104,"2,099","1,518",...,746,16,730,686,44,435,0,435,415,20
West Virginia Asian,"9,910","3,230",159,"3,071",364,"2,707","2,336",62,"2,274","1,146",...,"1,844",35,"1,809","1,414",395,"2,500",66,"2,434","2,290",144
Wisconsin Asian,"99,797","34,736",879,"33,857","4,435","29,422","23,856",749,"23,107","13,592",...,"18,150",293,"17,857","15,387","2,470","23,055",680,"22,375","19,719","2,656"
Wisconsin Indian,"25,213","12,018",133,"11,885",771,"11,114","6,795",20,"6,775","2,480",...,"3,444",59,"3,385","2,958",427,"2,956",64,"2,892","2,671",221
Wisconsin Chinese,"18,556","8,636",65,"8,571",904,"7,667","4,749",201,"4,548","2,943",...,"3,003",14,"2,989","2,592",397,"2,168",57,"2,111","1,984",127

In [40]:
transposed_df.to_csv('census_clean.csv')
transposed_df.to_csv('Resources/census_clean.csv')