In [1]:
import pandas as pd
import numpy as np
import os
import re

In [2]:
# check columns and data as a sample
sample = pd.read_excel('2012_immsuptable1d.xls')
sample.head()

,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,Texas,U.S. Armed Services Posts,U.S. Territories,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,1031631,3873,1612,18434,2795,196622,13327,12237,2208,...,95557,108,1559,5932,877,28227,23060,779,6049,427
2,Africa,107241,519,118,1517,129,7150,2471,1093,497,...,9513,8,8,514,142,5429,3160,124,768,34
3,Asia,429599,1784,910,6225,1077,107825,5003,3941,857,...,32341,67,694,2090,476,13748,12347,382,2773,161
4,Europe,81671,330,186,967,180,11121,1086,1952,156,...,3834,14,24,440,126,1945,2853,93,660,69

In [3]:
# File names
files = ['2012_immsuptable1d.xls', '2013_immsuptable1d.xls', '2014_immsuptable1d.xls',
         '2015_immsuptable1d.xls', '2016_immsuptable1d.xls', '2017_immsuptable1d.xlsx',
         '2018_immsuptable1d.xlsx', '2019_immsuptable1d.xlsx', '2020_immsuptable1d.xlsx',
         '2021_immsuptable1d.xlsx']

# Initialize an empty DataFrame to store the data
immigration_df = pd.DataFrame(columns=['Year'])

# Loop through each file and read it into a DataFrame
for file_name in files:
    df = pd.read_excel(file_name)
    
    # Extract the year from the file name
    year = int(file_name[:4])
    
    # Add the year as a new column to the DataFrame
    df.insert(0, 'Year', year)
    
    immigration_df = pd.concat([immigration_df, df], ignore_index=True)

# Display the first 50 rows of the DataFrame
immigration_df.head(50)

,Year,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,U.S. Territories,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,U.S. Territories1,Unknown
0,2012,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012,Total,1031631,3873,1612,18434,2795,196622,13327,12237,...,1559,5932,877,28227,23060,779,6049,427,NaN,NaN
2,2012,Africa,107241,519,118,1517,129,7150,2471,1093,...,8,514,142,5429,3160,124,768,34,NaN,NaN
3,2012,Asia,429599,1784,910,6225,1077,107825,5003,3941,...,694,2090,476,13748,12347,382,2773,161,NaN,NaN
4,2012,Europe,81671,330,186,967,180,11121,1086,1952,...,24,440,126,1945,2853,93,660,69,NaN,NaN
5,2012,North America,327771,995,272,9166,1315,63037,4140,3180,...,794,1821,83,4271,3823,104,1500,137,NaN,NaN
6,2012,Oceania,4742,7,37,83,9,1732,128,46,...,7,147,6,78,266,8,27,4,NaN,NaN
7,2012,South America,79401,232,88,460,79,5620,488,2016,...,25,917,43,2735,596,68,300,22,NaN,NaN
8,2012,Unknown,1206,6,1,16,6,137,11,9,...,7,3,1,21,15,-,21,-,NaN,NaN
9,2012,COUNTRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2012,Total,1031631,3873,1612,18434,2795,196622,13327,12237,...,1559,5932,877,28227,23060,779,6049,427,NaN,NaN
11,2012,Afghanistan,1617,D,-,35,D,587,26,22,...,-,17,D,262,35,-,4,-,NaN,NaN
12,2012,Albania,3364,-,8,25,5,47,D,232,...,-,9,3,40,19,-,38,D,NaN,NaN
13,2012,Algeria,1369,3,-,4,-,188,32,13,...,-,D,-,55,19,-,10,-,NaN,NaN
14,2012,Andorra,D,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,NaN,NaN
15,2012,Angola,187,D,-,3,-,8,D,D,...,-,-,-,7,-,-,-,-,NaN,NaN
16,2012,Anguilla,23,D,-,-,-,-,D,-,...,6,-,-,-,-,-,-,-,NaN,NaN
17,2012,Antigua-Barbuda,337,D,-,D,-,5,-,5,...,37,-,-,6,-,-,D,-,NaN,NaN
18,2012,Argentina,4359,9,7,26,9,523,37,73,...,-,110,4,158,40,4,32,D,NaN,NaN
19,2012,Armenia,2681,D,D,5,D,1977,11,9,...,-,20,D,18,58,-,-,-,NaN,NaN
20,2012,Aruba,54,-,-,-,-,D,-,-,...,4,-,-,-,-,-,-,-,NaN,NaN
21,2012,Australia,2414,5,6,46,6,622,80,33,...,D,34,D,57,108,3,22,3,NaN,NaN
22,2012,Austria,407,3,D,5,-,87,5,4,...,D,3,D,14,18,D,3,-,NaN,NaN
23,2012,Azerbaijan,663,D,D,D,D,161,7,7,...,-,6,D,15,21,D,D,-,NaN,NaN
24,2012,Bahamas,619,9,-,3,4,22,-,8,...,-,-,-,9,D,-,D,-,NaN,NaN
25,2012,Bahrain,104,D,-,-,-,14,D,3,...,-,-,-,5,D,-,D,-,NaN,NaN
26,2012,Bangladesh,14705,68,4,47,7,812,49,203,...,6,4,D,572,45,7,15,D,NaN,NaN
27,2012,Barbados,460,-,-,D,-,8,D,6,...,5,-,-,8,D,D,D,-,NaN,NaN
28,2012,Belarus,1659,D,D,15,D,238,33,27,...,-,6,3,44,65,-,18,D,NaN,NaN
29,2012,Belgium,574,D,-,5,-,101,16,6,...,-,D,D,26,6,D,D,-,NaN,NaN
30,2012,Belize,847,D,-,4,D,278,3,6,...,-,4,D,10,9,-,D,-,NaN,NaN
31,2012,Benin,415,3,-,D,5,13,21,3,...,-,D,-,16,7,-,3,-,NaN,NaN
32,2012,Bermuda,85,4,-,-,4,3,-,3,...,-,-,-,D,D,-,-,-,NaN,NaN
33,2012,Bhutan,10198,-,24,370,-,144,511,45,...,-,165,172,384,296,-,55,-,NaN,NaN
34,2012,Bolivia,1948,5,D,12,3,160,15,7,...,-,24,-,679,13,D,5,D,NaN,NaN
35,2012,Bosnia-Herzegovina,815,D,-,25,-,51,18,20,...,-,12,8,32,23,D,8,-,NaN,NaN
36,2012,Botswana,80,D,-,4,-,4,D,D,...,-,-,-,-,-,-,6,-,NaN,NaN
37,2012,Brazil,11441,43,12,85,12,1162,82,405,...,D,160,10,228,166,12,41,6,NaN,NaN
38,2012,British Virgin Islands,39,-,D,D,-,D,-,-,...,13,-,-,-,-,-,-,-,NaN,NaN
39,2012,Brunei,19,-,-,-,-,5,-,-,...,-,-,-,D,-,-,D,-,NaN,NaN
40,2012,Bulgaria,2440,10,16,41,D,232,48,35,...,D,11,D,87,86,D,20,6,NaN,NaN
41,2012,Burkina Faso,558,4,-,D,D,9,9,6,...,-,-,-,12,5,3,11,-,NaN,NaN
42,2012,Burma,17383,6,4,321,35,1129,404,81,...,-,198,15,156,342,7,264,-,NaN,NaN
43,2012,Burundi,535,-,-,30,-,29,8,D,...,-,3,D,19,9,D,D,-,NaN,NaN
44,2012,Cambodia,2473,3,D,33,7,742,26,36,...,-,22,D,67,195,-,10,D,NaN,NaN
45,2012,Cameroon,3815,32,5,56,21,182,38,17,...,-,4,D,146,26,9,17,D,NaN,NaN
46,2012,Canada,12932,61,56,388,32,2038,292,153,...,D,159,43,223,821,15,91,21,NaN,NaN
47,2012,Cape Verde,1684,-,-,-,-,D,-,31,...,-,-,-,6,D,-,-,-,NaN,NaN
48,2012,Cayman Islands,44,D,-,-,-,D,-,-,...,-,-,-,D,-,-,-,-,NaN,NaN
49,2012,Central African Republic,116,-,-,7,-,D,3,-,...,-,7,-,D,D,-,-,-,NaN,NaN

In [4]:
# Convert 'D' and '-' values to 0 and set format to int
int_columns = immigration_df.columns.drop('Region and country of birth')
immigration_df[int_columns] = immigration_df[int_columns].replace({'D': 0, '-': 0}).fillna(0).astype(np.int64)
immigration_df.head()

,Year,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,U.S. Territories,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,U.S. Territories1,Unknown
0,2012,REGION,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2012,Total,1031631,3873,1612,18434,2795,196622,13327,12237,...,1559,5932,877,28227,23060,779,6049,427,0,0
2,2012,Africa,107241,519,118,1517,129,7150,2471,1093,...,8,514,142,5429,3160,124,768,34,0,0
3,2012,Asia,429599,1784,910,6225,1077,107825,5003,3941,...,694,2090,476,13748,12347,382,2773,161,0,0
4,2012,Europe,81671,330,186,967,180,11121,1086,1952,...,24,440,126,1945,2853,93,660,69,0,0

In [5]:
# Convert NaN values to 0
immigration_df = immigration_df.fillna(0)

In [6]:
# Drop useless columns
immigration_df = immigration_df.drop(['U.S. Armed Services Posts', 'U.S. Territories', 'U.S. Territories1', 'Unknown'], axis=1)

In [7]:
# Define the countries to keep
immigration_df = immigration_df[immigration_df["Region and country of birth"].isin
                                (["Iran", "Mexico", "China, People's Republic", "Pakistan", "India","United Kingdom",
                                  "Dominican Republic", "Philippines"])]
immigration_df.head(50)

,Year,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
52,2012,"China, People's Republic",81784,299,49,676,169,22424,637,609,...,45,539,3203,273,69,1385,2017,64,467,27
67,2012,Dominican Republic,41566,17,91,33,5,171,33,694,...,0,39,220,23,5,157,32,11,51,3
98,2012,India,66434,330,18,978,320,13951,483,1143,...,22,573,5844,159,36,2473,2180,66,632,15
100,2012,Iran,12916,26,4,223,13,6591,105,62,...,6,94,1160,75,0,567,361,16,23,4
135,2012,Mexico,146406,561,75,8075,961,49595,3316,255,...,54,1031,37852,1334,7,792,2408,27,1142,100
157,2012,Pakistan,14740,45,4,91,30,1731,67,270,...,4,68,1877,73,7,989,208,28,93,9
163,2012,Philippines,57327,145,600,849,164,22484,350,327,...,55,346,2778,135,28,1315,1804,68,216,43
214,2012,United Kingdom,12014,39,13,170,43,2090,179,282,...,19,121,1070,126,22,283,381,22,80,10
284,2013,"China, People's Republic",71798,312,64,511,125,20134,499,618,...,42,479,3281,231,42,1348,1842,64,389,0
299,2013,Dominican Republic,41311,23,45,51,5,129,12,624,...,3,38,316,27,6,205,41,9,40,0
330,2013,India,68458,304,11,772,293,13735,396,1106,...,31,716,6499,168,37,2614,2278,50,608,6
332,2013,Iran,12863,52,5,190,25,5793,130,62,...,6,98,1425,91,7,625,396,19,57,3
367,2013,Mexico,135028,478,51,7355,873,45908,2917,165,...,43,940,35136,1229,0,763,2488,30,1029,135
388,2013,Pakistan,13251,44,3,74,42,1544,69,170,...,0,103,1787,32,0,890,221,14,91,5
394,2013,Philippines,54446,196,611,880,161,20261,286,222,...,39,485,2876,168,25,1226,1741,63,251,55
445,2013,United Kingdom,12984,61,16,219,41,2215,208,269,...,11,133,1162,96,33,346,418,19,103,7
512,2014,"China, People's Republic",76089,257,55,527,127,23296,391,548,...,45,444,3614,258,43,1246,2113,74,462,32
530,2014,Dominican Republic,44577,17,85,45,12,190,25,842,...,0,44,435,37,0,204,32,11,56,0
563,2014,India,77908,343,11,980,318,15770,545,1294,...,21,723,7490,157,33,2996,2297,74,684,12
565,2014,Iran,11615,40,10,179,24,5428,90,72,...,3,119,1195,107,0,516,363,17,45,0
600,2014,Mexico,134052,481,81,7225,847,45861,2875,274,...,38,941,32831,1471,15,762,2768,36,1099,97
623,2014,Pakistan,18612,78,4,78,32,2313,51,314,...,0,67,2314,53,4,1227,283,22,115,7
629,2014,Philippines,49996,143,501,783,188,18992,283,294,...,40,423,2777,161,29,1169,1691,46,203,42
684,2014,United Kingdom,12225,52,5,198,50,2261,141,264,...,8,127,1054,84,22,308,281,26,89,0
753,2015,"China, People's Republic",74558,245,63,502,114,25030,535,449,...,42,433,3368,308,53,1302,2602,62,501,53
771,2015,Dominican Republic,50610,31,109,80,7,189,24,889,...,5,55,449,37,0,257,37,13,67,5
803,2015,India,64116,321,11,789,226,12925,498,966,...,24,629,6084,184,33,2011,2011,58,617,11
805,2015,Iran,13114,45,3,219,15,6472,127,57,...,0,112,1396,91,0,581,355,18,48,0
841,2015,Mexico,158619,640,101,8277,882,55166,3485,281,...,77,1108,36684,1916,14,810,2986,46,1253,163
863,2015,Pakistan,18057,40,12,88,45,2416,68,283,...,5,82,2232,49,4,1382,278,26,129,0
869,2015,Philippines,56478,239,580,870,214,19633,347,294,...,57,618,3349,190,15,1515,1926,62,260,60
923,2015,United Kingdom,12592,45,19,159,40,2694,219,217,...,5,112,1127,84,28,308,369,28,133,14
990,2016,"China, People's Republic",81772,330,35,606,141,25110,551,537,...,53,478,3663,276,28,1155,2455,69,416,37
1008,2016,Dominican Republic,61161,47,88,62,16,271,44,1137,...,0,43,528,74,5,294,41,13,76,0
1038,2016,India,64687,330,22,753,226,13241,303,927,...,32,669,6086,152,46,1891,1859,60,525,7
1040,2016,Iran,13298,28,4,217,18,6368,106,74,...,6,54,1462,61,0,569,333,24,54,4
1075,2016,Mexico,174534,644,103,10024,1037,59154,4294,352,...,69,1217,39145,2100,11,911,3753,48,1493,137
1097,2016,Pakistan,19313,71,7,88,34,2465,80,337,...,6,103,2468,81,0,1295,249,24,103,0
1103,2016,Philippines,53287,231,684,929,177,18127,372,275,...,79,544,3071,240,15,1206,1934,92,328,50
1155,2016,United Kingdom,12673,65,10,194,50,2379,206,214,...,9,139,1232,83,31,324,370,13,103,9
1226,2017,"China, People's Republic",71565,214,36,499,128,23076,512,475,...,27,454,3419,208,40,1175,2210,44,360,33
1242,2017,Dominican Republic,58520,19,91,77,15,216,37,970,...,5,95,432,55,0,236,37,5,63,6
1272,2017,India,60394,352,21,718,227,11941,430,965,...,18,611,6378,150,30,1811,1743,64,533,12
1274,2017,Iran,13791,27,0,153,16,6597,131,72,...,0,98,1453,67,0,563,509,23,42,4
1309,2017,Mexico,170581,603,93,9308,1010,57732,4348,348,...,42,1373,37811,1856,14,840,3777,38,1487,122
1331,2017,Pakistan,17408,65,10,130,36,2192,69,278,...,11,78,2206,55,4,1158,281,26,116,0
1337,2017,Philippines,49147,236,469,758,168,16357,309,276,...,64,644,2783,163,38,1153,1660,79,213,50
1390,2017,United Kingdom,10948,41,12,149,32,2123,187,204,...,14,98,1055,59,19,288,351,17,71,0
1459,2018,"China, People's Republic",65214,201,42,429,107,20600,509,430,...,38,346,3062,201,27,1007,2269,66,311,26
1476,2018,Dominican Republic,57413,42,57,48,28,251,39,1009,...,3,96,383,40,3,235,40,9,107,5

In [8]:
# Check Dtype 
immigration_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 52 to 2324
Data columns (total 56 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         80 non-null     int64
 1   Region and country of birth  80 non-null     object
 2   Total                        80 non-null     int64
 3   Alabama                      80 non-null     int64
 4   Alaska                       80 non-null     int64
 5   Arizona                      80 non-null     int64
 6   Arkansas                     80 non-null     int64
 7   California                   80 non-null     int64
 8   Colorado                     80 non-null     int64
 9   Connecticut                  80 non-null     int64
 10  Delaware                     80 non-null     int64
 11  District of Columbia         80 non-null     int64
 12  Florida                      80 non-null     int64
 13  Georgia                      80 non-null     int64
 14  Guam                         80 non-null     int64
 15  Hawaii                       80 non-null     int64
 16  Idaho                        80 non-null     int64
 17  Illinois                     80 non-null     int64
 18  Indiana                      80 non-null     int64
 19  Iowa                         80 non-null     int64
 20  Kansas                       80 non-null     int64
 21  Kentucky                     80 non-null     int64
 22  Louisiana                    80 non-null     int64
 23  Maine                        80 non-null     int64
 24  Maryland                     80 non-null     int64
 25  Massachusetts                80 non-null     int64
 26  Michigan                     80 non-null     int64
 27  Minnesota                    80 non-null     int64
 28  Mississippi                  80 non-null     int64
 29  Missouri                     80 non-null     int64
 30  Montana                      80 non-null     int64
 31  Nebraska                     80 non-null     int64
 32  Nevada                       80 non-null     int64
 33  New Hampshire                80 non-null     int64
 34  New Jersey                   80 non-null     int64
 35  New Mexico                   80 non-null     int64
 36  New York                     80 non-null     int64
 37  North Carolina               80 non-null     int64
 38  North Dakota                 80 non-null     int64
 39  Ohio                         80 non-null     int64
 40  Oklahoma                     80 non-null     int64
 41  Oregon                       80 non-null     int64
 42  Pennsylvania                 80 non-null     int64
 43  Puerto Rico                  80 non-null     int64
 44  Rhode Island                 80 non-null     int64
 45  South Carolina               80 non-null     int64
 46  South Dakota                 80 non-null     int64
 47  Tennessee                    80 non-null     int64
 48  Texas                        80 non-null     int64
 49  Utah                         80 non-null     int64
 50  Vermont                      80 non-null     int64
 51  Virginia                     80 non-null     int64
 52  Washington                   80 non-null     int64
 53  West Virginia                80 non-null     int64
 54  Wisconsin                    80 non-null     int64
 55  Wyoming                      80 non-null     int64
dtypes: int64(55), object(1)
memory usage: 35.6+ KB

In [9]:
#save to a new csv file
# Save the DataFrame to a new CSV file
immigration_df.to_csv('immigration_data_2012_2021.csv', index=False)